{%- for section, directives in unit['content'].items() -%}
{{ "[%s]\n" | format(section) }}
{%- for block in directives -%}
{%- for directive, value in block.items() -%}
{{ "%s=%s\n" | format(directive, value) }}
{%- endfor %}
{%- endfor %}

{% endfor -%}

